body {
    background-color: #672593;
    text-align: left;
    color: #F8E2AB;


}



#books {
    text-align: center;
    
}
#main {
    text-align: center;
}
.space {
    margin-block: 100px;
}
h4 {
    text-decoration: underline;
    color: #F8E2AB;
    
    font-size: 170%;
    
}
#flex1{
    text-align: left;
    display: flex;
    gap: 20px;
    flex: 2;
    flex-direction: column;

    

}
#flex2 {
    display: flex;
    flex: auto;
    flex-direction: column;
}

#link_color {
    color: #F8E2AB;
    text-decoration: underline;
}