body {
    background-color: slateblue;
    text-align: left;
    color: goldenrod;


}



#books {
    text-align: center;
    
}
#main {
    text-align: center;
}
.space {
    margin-block: 100px;
}
h4 {
    text-decoration: underline;
    color: palevioletred;
    font-size: 170%;
    
}
#flex1{
    text-align: left;
    display: flex;
    gap: 20px;
    flex: 2;
    flex-direction: column;

    

}
#flex2 {
    display: flex;
    flex: auto;
    flex-direction: column;
}